<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}" 
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
<title>BuyForm</title>
</head>
 <div layout:fragment="main"> 
<table class="table" style="overflow:auto;">
	<thead>
		<tr bgcolor="#DDDDDD">
			<td th:text="${avo.adminBoardTitle}">제목</td>	
			<td th:text="${avo.adminBoardDate}">작성날짜</td>
			<td th:text="${avo.memberVO.memberNickname}">작성자</td>
		</tr>
	</thead>
	<tbody>
		<tr bgcolor="#FFFFFF">			
			<td colspan="3"><pre><font size="4" ><span class="box" th:text=${avo.adminBoardContent}></span></font></pre>
			</td>
		</tr>		
	</tbody>
</table>
<br>
 </div>
</html>