<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}" 
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
<title>BuyForm</title>
</head>
 <div layout:fragment="main"> 
 <div>
<table class="table table-bordered table-hover boardlist ">
	<thead>
		<tr bgcolor="#DDDDDD">
			<td th:text="${avo.adminBoardTitle}">제목</td>	
			<td th:text="${avo.adminBoardDate}">작성날짜</td>
		</tr>
	</thead>
	<tbody>
		<tr bgcolor="#FFFFFF">			
			<td colspan="2" style="text-align: left;"><pre><font size="4" ><span class="box" th:text=${avo.adminBoardContent} style="white-space: pre-line;"></span></font></pre>
			</td>
		</tr>		
	</tbody>
</table>
</div>
<br>
 </div>
</html>