<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	
	layout:decorate="~{layouts/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<div class="container" layout:fragment="main">
  <h2 style="text-align: center">채팅 목록</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>닉네임</th>
        <th>채팅방</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="chattingVO:${chattingVOList}" >
	    <td th:text="${chattingVO.memberVO.memberNickname}">상대방닉네임</td>
	    <td style="cursor:pointer;">
	    <th:block th:if="${chattingVO.reception!=0}">
	    	<a th:text="|${chattingVO.chatting}&#128140;|"
			    th:href="|@{/goChat?otherId=}${chattingVO.memberVO.memberId}|">채팅방제목</a>
	    </th:block>
	    <th:block th:if="${chattingVO.reception==0}">
	    	<a th:text="|${chattingVO.chatting}|"
			    th:href="|@{/goChat?otherId=}${chattingVO.memberVO.memberId}|">채팅방제목</a>
	    </th:block>
	  </td>
      </tr>
    </tbody>
  </table>
  <form action="@{/profile}" method="post" id="form">
  	<input type="hidden" id="otherNick" name="otherNick" value="">
  	<input type="hidden" name="${_csrf.headerName}" value="${_csrf.token}" />
  </form>
<script type="text/javascript" th:inline="javascript" >
	 function goChatting(result){
		
	}
</script>
</div>
</html>