<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	
	layout:decorate="~{layouts/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	>
<head>
<title>채팅</title>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
    <th:block layout:fragment="main"> 
        <div class="container">
            <div class="row"><label></label></div>
             <div class="row">
                <div id="msgArea" class="col-sm-6" style="word-wrap: break-word; overflow-x:hidden; width:550px; height:450px">
             <th:block th:each="chat:${chattingList}">
             <th:block th:if="${#authentication.principal.memberNickname==chat.MEMBER_NICKNAME}">
             	<div class='col-6'>
                <div class="alert alert-info" align="right">
                	<b th:text="|${chat.MEMBER_NICKNAME} : ${chat.CHATTING}|"></b>
                </div></div>
             </th:block>
             <th:block th:unless="${#authentication.principal.memberNickname==chat.MEMBER_NICKNAME}">
             	<div class='col-6'>
                <div class="alert alert-warning" align="left">
                	<b th:text="|${chat.MEMBER_NICKNAME} : ${chat.CHATTING}|"></b>
                </div></div>
             </th:block>
                </th:block>
                </div>
                <br><br>
                <div class="col-sm-3" id="imgTitle">
                	<img style="width:200px; height:100%; border: 3px solid gold; border-radius: 70px; -moz-border-radius: 70px;
						-khtml-border-radius: 70px; -webkit-border-radius:70px;"
						th:src="|@{myweb/images/member/}${otherMemberVO.memberPicture}|"/>
                </div><br><br><br><br>
                <div class="col-sm-3 offset-sm-1">
             	<select id ="title" >
             		<option value="">상대방의 글 제목 불러오기</option>
             		<th:block th:each="postVO:${postVOList}">
             		<option th:value="${postVO.boardNo}" th:text="${postVO.boardTitle}"></option>
             		</th:block>
             	</select>
             	<br><br><br>
             	<select id ="isSoldOut">
             		<option value="">거래 완료 후 확정해 주세요</option>
             		<th:block th:each="boardVO:${boardList}">
             		<option th:if="${boardVO.tradeStatus==1}" th:value="${boardVO.boardNo}" th:text="${boardVO.boardTitle}"></option>
             		</th:block>
             	</select>
             	<button type="button" id ="soldOut">거래완료</button>
             	<br><br><br>
             	<th:block th:if="${soldOutBoardList.size!=0}">
             		<select id ="setReviewTitle">
             		<option value="">거래는 만족하셨나요?</option>
             		<th:block th:each="soldBoardVO:${soldOutBoardList}">
             		<option th:value="${soldBoardVO.boardNo}" th:text="${soldBoardVO.boardTitle}"></option>
             		</th:block>
             	</select>
             	<div class="bar-container" id = "bar-container">
             		<input type="range" min="0" max="100" id="temp" style="color : #F28646;">
				</div>
             	<button type="button" id ="setReview">평가하기</button>
				</th:block>
             </div>
             </div>
                <div class="row">
                    <div class="col-sm-4">
                      	 <input type="text" id="msg" name="msg" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                    </div>
                    <div class="col-sm-1"> <button class="btn btn-outline-secondary" type="button" id="button-send">보내기</button>
                    </div>
                </div>
            <div class="row"><label></label></div>
        </div>
       
<script type="text/javascript" >
$(document).ready(function(){
    const username = "[[${#authentication.principal.memberNickname}]]";
    let msg = document.getElementById("msg");
    let token = $("meta[name='_csrf']").attr("content"); 
	let header = $("meta[name='_csrf_header']").attr("content");
    
    $("#button-send").on("click", (e) => {
    	recordMsg();
    	send();
    });
    const websocket = new WebSocket("ws://localhost:7777/ws/chat");

    websocket.onmessage = onMessage;
    websocket.onopen = onOpen;
    websocket.onclose = onClose;

    function send(){
        websocket.send(username + ":" + msg.value);
        msg.value = '';
    }
    
    //채팅창에 들어왔을 때
    function onOpen(evt) {
        var str = username + ": 님이 입장하셨습니다.";
        websocket.send(str);
    }
    function onClose(evt) {
        var str = username + ": 님이 나가셨습니다.";
        websocket.send(str);
    }

    function onMessage(msg) {
        var data = msg.data;
        var sessionId = null;
        //데이터를 보낸 사람
        var message = null;
        var arr = data.split(":");
        var cur_session = username;
        //현재 세션에 로그인 한 사람
        sessionId = arr[0];
        message = arr[1];
        let focus = document.querySelector("#msgArea");
        //로그인 한 클라이언트와 타 클라이언트를 분류하기 위함
        if(sessionId == cur_session){
            var str = "<div class='col-6' align='right'>";
            str += "<div class='alert alert-info'>"; 
            str += "<b>" + sessionId + " : " + message + "</b>";
            str += "</div></div>";
            $("#msgArea").append(str);
        }
        else{
            var str = "<div class='col-6' align='left'>";
            str += "<div class='alert alert-warning'>";
            str += "<b>" + sessionId + " : " + message + "</b>";
            str += "</div></div>";
            $("#msgArea").append(str);
        }
        focus.scrollTop = focus.scrollHeight;
    }
    function recordMsg(){
    	let chattingRoomNo = "[[${chattingRoomVO.chattingRoomNo}]]";
    	let chattingRoomTitle = "[[${chattingRoomVO.chattingRoomTitle}]]";
    	let chattingRoomDate = "[[${chattingRoomVO.chattingRoomDate}]]";
    	
    	$.ajax({
    		type:"get",
    		url:"chatRecord",
    		data:{
    			"chattingRoomNo":chattingRoomNo,
    			"chattingRoomTitle":chattingRoomTitle,
    			"chattingRoomDate":chattingRoomDate,
    			"msg":$("#msg").val()
    		},
    		success:function(result){
    		}
    	});
    }
    $("#title").change(function() {
    	var title = $('#title option:selected').text();
    	let boardNo = $(this).val();
    	var str = "<div class='col-6' align='left'>";
        str += "<div class='alert alert-warning'>";
        str += "<a href='/board/postdetail?boardNo="+boardNo+"'>제목 참조 : " + title + "</a>";
        str += "</div></div>";
        $("#msgArea").append(str);
	});
    var imgTitle = document.getElementById("imgTitle");
    imgTitle.addEventListener('mouseover', (event) => {
    	var str = "닉네임 : "+"[[${otherMemberVO.memberNickname}]]";
    	str += "\n나눔온도 : "+"[[${temp}]]"+" ℃";
    	str += "\n주소 : "+"[[${otherMemberVO.memberAddress}]]";
    	imgTitle.title = str;
    });
    var boardVO = $("#isSoldOut");
    $("#soldOut").on("click", (e) => {
    	if(boardVO.val()!=""){
    		isSoldOut = confirm("위 글을 거래완료 처리하시겠습니까?");
        	if(isSoldOut){
        		$.ajax({
        			type:"post",
        			url:"postSoldOut",
        			data:{
        				"boardNo":boardVO.val(),
        				"otherId":"[[${otherMemberVO.memberId}]]"
        			},
        			beforeSend : function(xhr){  
	                    xhr.setRequestHeader(header,token);
	                },
        			success:function(result){
        				alert(result);
        			}
        		});
        	}
    	}
    });
    var setReview = $("#setReviewTitle");
    var temp = $("#temp");
    $("#setReview").on("click", e => {
    	 if(setReview.val()!=""){
    		 isReview = confirm(temp.val()+"℃로 평가하시겠습니까?");
    		 if(isReview){
				$.ajax({
	    			type:"post",
	    			url:"review",
	    			data:{
	    				"boardNo":setReview.val(),
	    				"setTemp":temp.val(),
	    				"otherId":"[[${otherMemberVO.memberId}]]"
	    			},
	    			beforeSend : function(xhr){  
	                    xhr.setRequestHeader(header,token);
	                },
	    			success:function(result){
	    				alert(result);
	    			}
				});
    		}
    	}else{
    		alert("거래 글을 골라주세요");
    	}
    });
    
});
</script>
</th:block>
</html>