<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.myproject.mapper.BoardMapper">
	<resultMap type="org.kosta.myproject.vo.TradingBoardVO" id="tradingboardResultMap">
		<result column="MEMBER_NICKNAME" property="memberVO.memberNickname"/>
		<result column="MEMBERID" property="memberVO.memberId"/>
		<result column="tem" property="memberVO.tempVO.temp"/>
	</resultMap>
	<resultMap type="org.kosta.myproject.vo.AdminBoardVO" id="AdminBoardResultMap">
		<result column="adminBoardContent" property="AdminBoardVO.adminBoardContent"/>
		<result column="adminBoardTitle" property="AdminBoardVO.adminBoardTitle"/>
		<result column="adminBoardKind" property="AdminBoardVO.adminBoardKind"/>
		<result column="memberId" property="memberVO.memberId"/>
	</resultMap>
	<resultMap type="org.kosta.myproject.vo.AdminBoardVO" id="AdminBoardVoMap">
		<result column="memberId" property="memberVO.memberId"/>
	</resultMap>
	<select id="getTotalPostCount" resultType="int">
		SELECT COUNT(*) FROM TRADING_BOARD WHERE BOARD_KIND = '삽니다'
	</select>
	<select id="getTotalAdminCount" resultType="int">
		SELECT COUNT(*) FROM ADMINBOARD
	</select>
	<select id="getTotalSalePostCount" resultType="int">
		SELECT COUNT(*) FROM TRADING_BOARD WHERE BOARD_KIND = '팝니다'
	</select>
	<select id="orderByDate1" parameterType="org.kosta.myproject.vo.Pagination"  resultMap="tradingboardResultMap">
		select BOARD_NO, BOARD_TITLE,  rnum, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID,tem
		from( 
			select ROW_NUMBER() OVER(ORDER BY BOARD_DATE DESC) as rnum, 
			BOARD_NO, BOARD_TITLE, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID, tem
			from ( 
				select NVL(t.TEMP,0) as tem, b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID
				from TEMP t right outer join TRADING_BOARD b on t.MEMBERID = b.MEMBERID
				WHERE b.BOARD_KIND = '삽니다' and b.TRADE_STATUS = 1
			)
		)
		where rnum BETWEEN #{startRowNumber} AND #{endRowNumber}
	</select>
	<select id="orderByDate1search" parameterType="org.kosta.myproject.vo.Pagination"  resultMap="tradingboardResultMap">
		select BOARD_NO, BOARD_TITLE,  rnum, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID,tem
		from( 
			select ROW_NUMBER() OVER(ORDER BY BOARD_DATE DESC) as rnum, 
			BOARD_NO, BOARD_TITLE, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID, tem
			from (
				select NVL(t.TEMP,0) as tem, b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID
				from TEMP t 
				right outer join (
					SELECT b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID, b.TRADE_STATUS, b.BOARD_KIND
					FROM TRADING_BOARD b, 
						(SELECT x.TAG , y.BOARD_NO FROM TAG x, BOARDTAG y WHERE x.TAGID=y.TAGID) t
					WHERE b.BOARD_KIND = '삽니다' AND b.BOARD_NO = t.BOARD_NO AND 
					(b.BOARD_CONTENT LIKE  '%'||#{searchword}||'%' OR b.BOARD_TITLE LIKE '%'||#{searchword}||'%' OR t.TAG LIKE '%'||#{searchword}||'%')			
				) b 
				on t.MEMBERID = b.MEMBERID
				WHERE b.BOARD_KIND = '삽니다' and b.TRADE_STATUS = 1
			)
		)
		where rnum BETWEEN #{startRowNumber} AND #{endRowNumber}
	</select>
	<select id="orderBySaleDatesearch" parameterType="org.kosta.myproject.vo.Pagination"  resultMap="tradingboardResultMap">
		select BOARD_NO, BOARD_TITLE,  rnum, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID,tem
		from( 
			select ROW_NUMBER() OVER(ORDER BY BOARD_DATE DESC) as rnum, 
			BOARD_NO, BOARD_TITLE, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID, tem
			from (
				select NVL(t.TEMP,0) as tem, b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID
				from TEMP t 
				right outer join (
					SELECT b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID, b.TRADE_STATUS, b.BOARD_KIND
					FROM TRADING_BOARD b, 
						(SELECT x.TAG , y.BOARD_NO FROM TAG x, BOARDTAG y WHERE x.TAGID=y.TAGID) t
					WHERE b.BOARD_KIND = '팝니다' AND b.BOARD_NO = t.BOARD_NO AND 
					(b.BOARD_CONTENT LIKE  '%'||#{searchword}||'%' OR b.BOARD_TITLE LIKE '%'||#{searchword}||'%' OR t.TAG LIKE '%'||#{searchword}||'%')
				) b 
				on t.MEMBERID = b.MEMBERID
				WHERE b.BOARD_KIND = '팝니다' and b.TRADE_STATUS = 1
			)
		)
		where rnum BETWEEN #{startRowNumber} AND #{endRowNumber}
	</select>
	<select id="orderBySaleDate" parameterType="org.kosta.myproject.vo.Pagination"  resultMap="tradingboardResultMap">
		select BOARD_NO, BOARD_TITLE,  rnum, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID,tem
		from( 
			select ROW_NUMBER() OVER(ORDER BY BOARD_DATE DESC) as rnum, 
			BOARD_NO, BOARD_TITLE, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID, tem
			from ( 
				select NVL(t.TEMP,0) as tem, b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID
				from TEMP t right outer join TRADING_BOARD b on t.MEMBERID = b.MEMBERID
				WHERE b.BOARD_KIND = '팝니다' and b.TRADE_STATUS = 1
			)
		) 
		where rnum BETWEEN #{startRowNumber} AND #{endRowNumber}
	</select>
	<select id="orderByTemp" parameterType="org.kosta.myproject.vo.Pagination" resultMap="tradingboardResultMap">
		select BOARD_NO, BOARD_TITLE,  rnum, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID,tem
		from( 
			select ROW_NUMBER() OVER(ORDER BY tem DESC) as rnum, 
			BOARD_NO, BOARD_TITLE, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID, tem
			from ( 
				select NVL(t.TEMP,0) as tem, b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID
				from TEMP t right outer join TRADING_BOARD b on t.MEMBERID = b.MEMBERID
				WHERE b.BOARD_KIND = '삽니다'
			)
		) 
		where rnum BETWEEN #{startRowNumber} AND #{endRowNumber}
	</select>
	<select id="orderByTempsearch" parameterType="org.kosta.myproject.vo.Pagination" resultMap="tradingboardResultMap">
		select BOARD_NO, BOARD_TITLE,  rnum, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID,tem
		from( 
			select ROW_NUMBER() OVER(ORDER BY tem DESC) as rnum, 
			BOARD_NO, BOARD_TITLE, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID, tem
			from (
				select NVL(t.TEMP,0) as tem, b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID
				from TEMP t 
				right outer join (
					SELECT b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID, b.TRADE_STATUS, b.BOARD_KIND
					FROM TRADING_BOARD b, 
						(SELECT x.TAG , y.BOARD_NO FROM TAG x, BOARDTAG y WHERE x.TAGID=y.TAGID) t
					WHERE b.BOARD_KIND = '삽니다' AND b.BOARD_NO = t.BOARD_NO AND 
					(b.BOARD_CONTENT LIKE  '%'||#{searchword}||'%' OR b.BOARD_TITLE LIKE '%'||#{searchword}||'%' OR t.TAG LIKE '%'||#{searchword}||'%')
				) b 
				on t.MEMBERID = b.MEMBERID
				WHERE b.BOARD_KIND = '삽니다' and b.TRADE_STATUS = 1
			)
		)
		where rnum BETWEEN #{startRowNumber} AND #{endRowNumber}
	</select>
	<select id="orderBySaleTempsearch" parameterType="org.kosta.myproject.vo.Pagination" resultMap="tradingboardResultMap">
		select BOARD_NO, BOARD_TITLE,  rnum, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID,tem
		from( 
			select ROW_NUMBER() OVER(ORDER BY tem DESC) as rnum, 
			BOARD_NO, BOARD_TITLE, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID, tem
			from (
				select NVL(t.TEMP,0) as tem, b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID
				from TEMP t 
				right outer join (
					SELECT b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID, b.TRADE_STATUS, b.BOARD_KIND
					FROM TRADING_BOARD b, 
						(SELECT x.TAG , y.BOARD_NO FROM TAG x, BOARDTAG y WHERE x.TAGID=y.TAGID) t
					WHERE b.BOARD_KIND = '팝니다' AND b.BOARD_NO = t.BOARD_NO AND 
					(b.BOARD_CONTENT LIKE  '%'||#{searchword}||'%' OR b.BOARD_TITLE LIKE '%'||#{searchword}||'%' OR t.TAG LIKE '%'||#{searchword}||'%')
				) b 
				on t.MEMBERID = b.MEMBERID
				WHERE b.BOARD_KIND = '팝니다' and b.TRADE_STATUS = 1
			)
		)
		where rnum BETWEEN #{startRowNumber} AND #{endRowNumber}
	</select>

	<select id="orderByDate2" parameterType="org.kosta.myproject.vo.Pagination"  resultMap="tradingboardResultMap">
		select BOARD_NO, BOARD_TITLE,  rnum, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID,tem
		from( 
			select ROW_NUMBER() OVER(ORDER BY BOARD_DATE DESC) as rnum, 
			BOARD_NO, BOARD_TITLE, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID, tem
			from ( 
				select NVL(t.TEMP,0) as tem, b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID
				from TEMP t right outer join TRADING_BOARD b on t.MEMBERID = b.MEMBERID
				WHERE b.BOARD_KIND = '팝니다' and b.TRADE_STATUS = 1
			)
		)
		where rnum BETWEEN #{startRowNumber} AND #{endRowNumber}
	</select>
	<select id="orderByDate3" parameterType="org.kosta.myproject.vo.Pagination"  resultMap="tradingboardResultMap">
		select BOARD_NO, BOARD_TITLE,  rnum, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID,tem
		from( 
			select ROW_NUMBER() OVER(ORDER BY BOARD_DATE DESC) as rnum, 
			BOARD_NO, BOARD_TITLE, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID, tem
			from ( 
				select NVL(t.TEMP,0) as tem, b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID
				from TEMP t right outer join TRADING_BOARD b on t.MEMBERID = b.MEMBERID
				WHERE b.BOARD_KIND = '삽니다' and b.TRADE_STATUS = 0
			)
		)
		where rnum BETWEEN #{startRowNumber} AND #{endRowNumber}
	</select>
	<select id="orderByDate4" parameterType="org.kosta.myproject.vo.Pagination"  resultMap="tradingboardResultMap">
		select BOARD_NO, BOARD_TITLE,  rnum, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID,tem
		from( 
			select ROW_NUMBER() OVER(ORDER BY BOARD_DATE DESC) as rnum, 
			BOARD_NO, BOARD_TITLE, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID, tem
			from ( 
				select NVL(t.TEMP,0) as tem, b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID
				from TEMP t right outer join TRADING_BOARD b on t.MEMBERID = b.MEMBERID
				WHERE b.BOARD_KIND = '팝니다' and b.TRADE_STATUS = 0
			)
		)
		where rnum BETWEEN #{startRowNumber} AND #{endRowNumber}
	</select>
	<select id="orderByPrice" parameterType="org.kosta.myproject.vo.Pagination"  resultMap="tradingboardResultMap">
		select BOARD_NO, BOARD_TITLE,  rnum, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID,tem
		from( 
			select ROW_NUMBER() OVER(ORDER BY TRADE_PRICE ASC) as rnum, 
			BOARD_NO, BOARD_TITLE, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID, tem
			from ( 
				select NVL(t.TEMP,0) as tem, b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID
				from TEMP t right outer join TRADING_BOARD b on t.MEMBERID = b.MEMBERID
				WHERE b.BOARD_KIND = '삽니다'
			)
		) 
		where rnum BETWEEN #{startRowNumber} AND #{endRowNumber}
	</select>	
	<select id="orderByPricesearch" parameterType="org.kosta.myproject.vo.Pagination"  resultMap="tradingboardResultMap">
		select BOARD_NO, BOARD_TITLE,  rnum, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID,tem
		from( 
			select ROW_NUMBER() OVER(ORDER BY TRADE_PRICE ASC) as rnum, 
			BOARD_NO, BOARD_TITLE, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID, tem
			from (
				select NVL(t.TEMP,0) as tem, b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID
				from TEMP t 
				right outer join (
					SELECT b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID, b.TRADE_STATUS, b.BOARD_KIND
					FROM TRADING_BOARD b, 
						(SELECT x.TAG , y.BOARD_NO FROM TAG x, BOARDTAG y WHERE x.TAGID=y.TAGID) t
					WHERE b.BOARD_KIND = '삽니다' AND b.BOARD_NO = t.BOARD_NO AND 
					(b.BOARD_CONTENT LIKE  '%'||#{searchword}||'%' OR b.BOARD_TITLE LIKE '%'||#{searchword}||'%' OR t.TAG LIKE '%'||#{searchword}||'%')
				) b 
				on t.MEMBERID = b.MEMBERID
				WHERE b.BOARD_KIND = '삽니다' and b.TRADE_STATUS = 1
			)
		)
		where rnum BETWEEN #{startRowNumber} AND #{endRowNumber}
	</select>	
	<select id="orderBySalePricesearch" parameterType="org.kosta.myproject.vo.Pagination"  resultMap="tradingboardResultMap">
		select BOARD_NO, BOARD_TITLE,  rnum, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID,tem
		from( 
			select ROW_NUMBER() OVER(ORDER BY TRADE_PRICE ASC) as rnum, 
			BOARD_NO, BOARD_TITLE, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID, tem
			from (
				select NVL(t.TEMP,0) as tem, b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID
				from TEMP t 
				right outer join (
					SELECT b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID, b.TRADE_STATUS, b.BOARD_KIND
					FROM TRADING_BOARD b, 
						(SELECT x.TAG , y.BOARD_NO FROM TAG x, BOARDTAG y WHERE x.TAGID=y.TAGID) t
					WHERE b.BOARD_KIND = '팝니다' AND b.BOARD_NO = t.BOARD_NO AND 
					(b.BOARD_CONTENT LIKE  '%'||#{searchword}||'%' OR b.BOARD_TITLE LIKE '%'||#{searchword}||'%' OR t.TAG LIKE '%'||#{searchword}||'%')
				) b 
				on t.MEMBERID = b.MEMBERID
				WHERE b.BOARD_KIND = '팝니다' and b.TRADE_STATUS = 1
			)
		)
		where rnum BETWEEN #{startRowNumber} AND #{endRowNumber}
	</select>	
	<select id="orderBySaleTemp" parameterType="org.kosta.myproject.vo.Pagination" resultMap="tradingboardResultMap">
		select BOARD_NO, BOARD_TITLE,  rnum, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID,tem
		from( 
			select ROW_NUMBER() OVER(ORDER BY tem DESC) as rnum, 
			BOARD_NO, BOARD_TITLE, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID, tem
			from ( 
				select NVL(t.TEMP,0) as tem, b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID
				from TEMP t right outer join TRADING_BOARD b on t.MEMBERID = b.MEMBERID
				WHERE b.BOARD_KIND = '팝니다'
			)
		) 
		where rnum BETWEEN #{startRowNumber} AND #{endRowNumber}
	</select>

	<select id="orderBySalePrice" parameterType="org.kosta.myproject.vo.Pagination"  resultMap="tradingboardResultMap">
		select BOARD_NO, BOARD_TITLE,  rnum, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID,tem
		from( 
			select ROW_NUMBER() OVER(ORDER BY TRADE_PRICE ASC) as rnum, 
			BOARD_NO, BOARD_TITLE, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID, tem
			from ( 
				select NVL(t.TEMP,0) as tem, b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID
				from TEMP t right outer join TRADING_BOARD b on t.MEMBERID = b.MEMBERID
				WHERE b.BOARD_KIND = '팝니다'
			)
		) 
		where rnum BETWEEN #{startRowNumber} AND #{endRowNumber}
	</select>	
	<insert id="posting" parameterType="org.kosta.myproject.vo.TradingBoardVO">
		INSERT INTO TRADING_BOARD(BOARD_NO,BOARD_TITLE,BOARD_CONTENT,BOARD_KIND,TRADE_STATUS,TRADE_PRICE,PRODUCT_PICTURE,HITS,MEMBERID,BOARD_DATE) 
		VALUES(TRADING_BOARD_SEQ.nextval,#{boardTitle},#{boardContent},#{boardKind},1,#{tradePrice},#{productPicture},0,#{memberVO.memberId},SYSDATE)
	</insert>
	<select id="postdetail" resultMap="tradingboardResultMap" parameterType="int">
		SELECT b.BOARD_NO, b.BOARD_TITLE, b.BOARD_CONTENT, b.BOARD_KIND, b.TRADE_STATUS, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.HITS,
		m.MEMBER_NICKNAME, m.MemberId, b.BOARD_DATE
		FROM TRADING_BOARD b, T_MEMBER m
		WHERE b.BOARD_NO=#{value} AND b.MEMBERID = m.MEMBERID
	</select>
	<select id="findtradingboardbyno" resultType="org.kosta.myproject.vo.TradingBoardVO" parameterType="int">
		SELECT * FROM TRADING_BOARD WHERE BOARD_NO=#{value}
	</select>
		<update id="updating" parameterType="org.kosta.myproject.vo.TradingBoardVO">
		UPDATE TRADING_BOARD 
		SET 	BOARD_TITLE=#{boardTitle}, BOARD_CONTENT=#{boardContent}, BOARD_KIND=#{boardKind},TRADE_PRICE=#{tradePrice},PRODUCT_PICTURE=#{productPicture}
		WHERE BOARD_NO=#{boardNo}
	</update>
	<delete id="deletePost" parameterType="int">
	DELETE FROM TRADING_BOARD WHERE BOARD_NO=#{value}
	</delete>
	<select id="findAllList" resultType="org.kosta.myproject.vo.MemberVO">
		select t.MEMBERID , t.MEMBER_NAME , t.MEMBER_ADDRESS , t.MEMBER_NICKNAME , t.MEMBER_TEL
		from T_MEMBER t
		inner join AUTHORITY a
		on t.MEMBERID = a.MEMBERID
		where a.AUTHORITY = 'ROLE_MEMBER'
		and t.ENABLED = 1
	</select>
	<select id="findAllBlackList" resultType="org.kosta.myproject.vo.MemberVO">
		select MEMBERID , MEMBER_NAME , MEMBER_ADDRESS , MEMBER_NICKNAME , MEMBER_TEL
		from T_MEMBER
		where ENABLED = 0
	</select>
	<update id="blackListMember" parameterType="org.kosta.myproject.vo.MemberVO">
		UPDATE T_MEMBER 
		SET 	ENABLED = 0
		WHERE MEMBERID = #{memberId}
	</update>
	<update id="restoreMember" parameterType="org.kosta.myproject.vo.MemberVO">
		UPDATE T_MEMBER 
		SET 	ENABLED = 1
		WHERE MEMBERID = #{memberId}
	</update>
	<insert id="postpicture" parameterType="org.kosta.myproject.vo.FileVO">
		INSERT INTO FILEVO(file_no,file_name,content_type)
		VALUES(FILE_NO_SEQ.nextval,#{fileName},#{contentType})
	</insert>	
	<select id="currentseq" resultType="int" >
		select FILE_NO_SEQ.currval from dual
	</select>
	<select id="orderByDate1Contact" parameterType="org.kosta.myproject.vo.Pagination"  resultMap="AdminBoardResultMap">
		select ADMINBOARD_NO, ADMINBOARD_TITLE, ADMINBOARD_CONTENT , rnum, ADMINBOARD_DATE, MEMBERID , ADMINBOARD_KIND
		from( 
			select ROW_NUMBER() OVER(ORDER BY ADMINBOARD_DATE DESC) as rnum, 
			ADMINBOARD_NO , ADMINBOARD_CONTENT , ADMINBOARD_TITLE, ADMINBOARD_DATE, MEMBERID , ADMINBOARD_KIND
			from ( 
				select a.ADMINBOARD_NO , a.ADMINBOARD_CONTENT , a.ADMINBOARD_TITLE, a.ADMINBOARD_DATE, t.MEMBERID , a.ADMINBOARD_KIND
				from T_MEMBER t inner join ADMINBOARD a on t.MEMBERID = a.MEMBERID
			)
		)
		where rnum BETWEEN #{startRowNumber} AND #{endRowNumber}
	</select>
	<select id="orderAdminList" resultMap="AdminBoardResultMap">
	select ADMINBOARD_NO, ADMINBOARD_TITLE, ADMINBOARD_CONTENT , rnum, ADMINBOARD_DATE, MEMBERID , ADMINBOARD_KIND
	from( 
			select ROW_NUMBER() OVER(ORDER BY ADMINBOARD_DATE DESC) as rnum, 
			ADMINBOARD_NO , ADMINBOARD_CONTENT , ADMINBOARD_TITLE, ADMINBOARD_DATE, MEMBERID , ADMINBOARD_KIND
			from ( 
				select a.ADMINBOARD_NO , a.ADMINBOARD_CONTENT , a.ADMINBOARD_TITLE, a.ADMINBOARD_DATE, t.MEMBERID , a.ADMINBOARD_KIND
				from T_MEMBER t inner join ADMINBOARD a on t.MEMBERID = a.MEMBERID
			)
		)where ADMINBOARD_KIND != 'FAQ'
	</select>
	
	<insert id="posting2" parameterType = "org.kosta.myproject.vo.AdminBoardVO">
		insert into ADMINBOARD (ADMINBOARD_NO , ADMINBOARD_TITLE , ADMINBOARD_CONTENT , ADMINBOARD_DATE , ADMINBOARD_KIND , MEMBERID) 
		values(ADMINBOARD_SEQ.nextval , #{adminBoardTitle} , #{adminBoardContent} , SYSDATE , #{adminBoardKind} , #{memberVO.memberId})
	</insert>
	<select id="adminDetailByNo" resultType="org.kosta.myproject.vo.AdminBoardVO" parameterType="int">
		SELECT * FROM ADMINBOARD WHERE ADMINBOARD_NO=#{adminBoardNo}
	</select>
	<delete id="deleteAdmin" parameterType="int">
		delete from ADMINBOARD where ADMINBOARD_NO = #{adminBoardNo}
	</delete>
	<select id="findAdminBoardByNo" resultType="org.kosta.myproject.vo.AdminBoardVO" parameterType="int">
		select ADMINBOARD_NO , ADMINBOARD_TITLE , ADMINBOARD_CONTENT , ADMINBOARD_DATE , ADMINBOARD_KIND , MEMBERID
		from ADMINBOARD where ADMINBOARD_NO = #{adminBoardNo}
	</select>
	<select id="findMemberIdByNo" parameterType="int"  resultType="String">
		select a.MEMBERID from T_MEMBER t , ADMINBOARD a where t.MEMBERID = a.MEMBERID
		and ADMINBOARD_NO = #{adminBoardNo}
	</select>
	<select id="findManagerId" resultType="String">
		select memberId from AUTHORITY where AUTHORITY = 'ROLE_ADMIN'
	</select>
	<update id="updateAdmin" parameterType="org.kosta.myproject.vo.AdminBoardVO">
		UPDATE ADMINBOARD
		SET ADMINBOARD_TITLE=#{adminBoardTitle}, ADMINBOARD_CONTENT=#{adminBoardContent}, ADMINBOARD_KIND=#{adminBoardKind} , ADMINBOARD_DATE = SYSDATE
		WHERE ADMINBOARD_NO= #{adminBoardNo}
	</update>
	<select id="currentNo" resultType="int">
		SELECT TRADING_BOARD_SEQ.currval FROM dual
	</select>
	<select id="getTotalPostCountBySearch" resultType="int" parameterType="string">
		SELECT COUNT(*) FROM TRADING_BOARD b, (SELECT x.TAG , y.BOARD_NO FROM TAG x, BOARDTAG y WHERE x.TAGID=y.TAGID) t
		WHERE b.BOARD_KIND = '삽니다' AND b.BOARD_NO = t.BOARD_NO AND (b.BOARD_CONTENT LIKE  '%'||#{value}||'%' OR b.BOARD_TITLE LIKE '%'||#{value}||'%' OR t.TAG LIKE '%'||#{value}||'%')
	</select>
	<select id="getTotalSalePostCountBySearch" resultType="int" parameterType="string">
		SELECT COUNT(*) FROM TRADING_BOARD b, (SELECT x.TAG , y.BOARD_NO FROM TAG x, BOARDTAG y WHERE x.TAGID=y.TAGID) t
		WHERE b.BOARD_KIND = '팝니다' AND b.BOARD_NO = t.BOARD_NO AND (b.BOARD_CONTENT LIKE  '%'||#{value}||'%' OR b.BOARD_TITLE LIKE '%'||#{value}||'%' OR t.TAG LIKE '%'||#{value}||'%')
	</select>
	<select id="orderByDate001" parameterType="String" resultMap="tradingboardResultMap" >
		select BOARD_NO, BOARD_TITLE,  rnum, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID,tem
		from( 
			select ROW_NUMBER() OVER(ORDER BY BOARD_DATE DESC) as rnum, 
			BOARD_NO, BOARD_TITLE, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID, tem
			from ( 
				select NVL(t.TEMP,0) as tem, b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID
				from TEMP t right outer join TRADING_BOARD b on t.MEMBERID = b.MEMBERID
				WHERE b.BOARD_KIND = '삽니다' and b.TRADE_STATUS = 1
			)
		)
		where MEMBERID =#{memberId}
		<![CDATA[ and ROWNUM <= 5]]>
	</select>
	<select id="orderByDate002" parameterType="String" resultMap="tradingboardResultMap" >
		select BOARD_NO, BOARD_TITLE,  rnum, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID,tem
		from( 
			select ROW_NUMBER() OVER(ORDER BY tem DESC) as rnum, 
			BOARD_NO, BOARD_TITLE, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID, tem
			from ( 
				select NVL(t.TEMP,0) as tem, b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID
				from TEMP t right outer join TRADING_BOARD b on t.MEMBERID = b.MEMBERID
				WHERE b.BOARD_KIND = '팝니다' and b.TRADE_STATUS = 1
			)
		)
		where MEMBERID =#{memberId}
		<![CDATA[ and ROWNUM <= 5]]>
	</select>
	<select id="orderByDate003" parameterType="String" resultMap="tradingboardResultMap" >
		select BOARD_NO, BOARD_TITLE,  rnum, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID,tem
		from( 
			select ROW_NUMBER() OVER(ORDER BY tem DESC) as rnum, 
			BOARD_NO, BOARD_TITLE, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID, tem
			from ( 
				select NVL(t.TEMP,0) as tem, b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID
				from TEMP t right outer join TRADING_BOARD b on t.MEMBERID = b.MEMBERID
				WHERE b.BOARD_KIND = '삽니다' and b.TRADE_STATUS = 0
			)
		)
		where MEMBERID =#{memberId}
		<![CDATA[ and ROWNUM <= 5]]>
	</select>
	<select id="orderByDate004" parameterType="String" resultMap="tradingboardResultMap" >
		select BOARD_NO, BOARD_TITLE,  rnum, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID,tem
		from( 
			select ROW_NUMBER() OVER(ORDER BY tem DESC) as rnum, 
			BOARD_NO, BOARD_TITLE, BOARD_DATE, TRADE_PRICE, PRODUCT_PICTURE, MEMBERID, tem
			from ( 
				select NVL(t.TEMP,0) as tem, b.BOARD_NO, b.BOARD_TITLE, b.BOARD_DATE, b.TRADE_PRICE, b.PRODUCT_PICTURE, b.MEMBERID
				from TEMP t right outer join TRADING_BOARD b on t.MEMBERID = b.MEMBERID
				WHERE b.BOARD_KIND = '팝니다' and b.TRADE_STATUS = 0
			)
		)
		where MEMBERID =#{memberId}
		<![CDATA[ and ROWNUM <= 5]]>
	</select>
	<select id="fAQ" resultMap="AdminBoardVoMap">
		SELECT ADMINBOARD_NO,ADMINBOARD_KIND,ADMINBOARD_TITLE,ADMINBOARD_CONTENT,ADMINBOARD_DATE,MEMBERID 
		FROM ADMINBOARD WHERE ADMINBOARD_KIND='FAQ'
	</select>
	<select id="adminpostdetail"  resultMap="AdminBoardVoMap" parameterType="int">
		SELECT ADMINBOARD_NO,ADMINBOARD_KIND,ADMINBOARD_TITLE,ADMINBOARD_CONTENT,ADMINBOARD_DATE,MEMBERID  
		FROM ADMINBOARD WHERE ADMINBOARD_NO=#{value}
	</select>
	<select id="findTradingBoardByMemberId" parameterType="string" resultType="org.kosta.myproject.vo.TradingBoardVO">
		select * from Trading_Board where memberId = #{value}
	</select>
	<update id="updatePostSoldOutByBoardNo" parameterType="int">
		update trading_board set trade_status = 0 where board_no=#{value}
	</update>
</mapper>