<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.myproject.mapper.ChatMapper">
<insert id="createChattingRoom" parameterType="string">
	insert into CHATTINGROOM 
	values(CHATTINGROOM_SEQ.nextval, #{myNick}||' and '||#{yourNick}, SYSDATE)
</insert>
<select id="checkChattingRoomNo" parameterType="string" resultType="int">
	select CHATTINGROOM_NO from CHATTINGROOM where CHATTINGROOM_TITLE LIKE '%'||#{myNick}||'%' and  CHATTINGROOM_TITLE like '%'||#{yourNick}||'%'
</select>
<select id="findChattingRoom" parameterType="string" resultType="org.kosta.myproject.vo.ChattingRoomVO">
	select * from CHATTINGROOM where CHATTINGROOM_TITLE LIKE '%'||#{myNick}||'%' and  CHATTINGROOM_TITLE like '%'||#{yourNick}||'%'
</select>
<insert id="recordChatting" parameterType="org.kosta.myproject.vo.ChattingRoomVO">
	insert into CHATTING(CHATTING_NO, CHATTINGROOM_NO, CHATTING_DATE, RECEPTION, CHATTING, MEMBERID)
	values(CHATTING_SEQ.nextval, #{chattingRoomVO.chattingRoomNo}, sysdate, 1, #{msg}, #{memberVO.memberId})
</insert>
<select id="getChattingList" parameterType="string" resultType="map">
	select c.chatting ,m.MEMBER_NICKNAME FROM chatting c, T_MEMBER m where CHATTINGROOM_NO = (
   select CHATTINGROOM_NO from CHATTINGROOM where
   CHATTINGROOM_TITLE LIKE '%'||#{myNick}||'%' and  CHATTINGROOM_TITLE like '%'||#{otherNick}||'%'
   )
   AND
   c.MEMBERID = m.MEMBERID
   order by c.chatting_date
</select>
<select id="findChattingRoomNoById" parameterType="string" resultType="org.kosta.myproject.vo.ChattingRoomVO">
	select chattingRoom_No, chattingRoom_title from chattingRoom
	where chattingRoom_No in (
	select distinct chattingRoom_No from chatting where memberId=#{value})
</select>
<select id="findOtherIdByChattingRoomNo" resultType="string">
	select chattingRoom_title from chattingRoom where chattingRoom_no=#{chattingRoomNo}
</select>





</mapper>