<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <footer th:fragment="footerFragment">
  <img th:src="@{/myweb/images/6시네고왕.PNG}" height="300" width="300">
    <p>
			OnionMarket Copyright 2022 by Kosta OnionMarket Data. All Rights Reserved.<br>
		<p>
			모든 콘텐츠의 저작권은 저작권자 또는 제공처에 있으며, 이를 무단으로 이용하는 경우 관련 법령에 따라 법적 책임을 질 수
			있습니다.
			<br>
			<p>
			관리자에게 문의가 있으신 분은 평일 오전 9:00 ~ 오후 9:00 까지 연락해 주시기 바랍니다. <br>
			주말 , 공휴일은 쉽니다.<br>
			<p style = "color:coral">관리자 번호 : 010 - 1234 - 5678
			<br>
		<br> <a href="#" class="top" style = "color:gold">맨 위로 이동</a>
		<h2><a th:href="@{/board/fAQ}">자주묻는 질문</a></h2>
			<script>
		$( window ).scroll( function() {
			if ( $( this ).scrollTop() > 200 ) {
				$( '.top' ).fadeIn();
			} else {
				$( '.top' ).fadeOut();
			}
		});
			$( '.top' ).click( function() {
				$( 'html, body' ).animate( { scrollTop : 0 }, 400 );
				return false;
			} );
		</script>
</footer>
</html>