<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="headerFragment">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">					
				</button>
				<button type="button" onclick="location.href='/'"><img th:src="@{/myweb/images/양파마켓.gif}"></button>				
			</div>
			<div id="trend" align = "center">
				<button type="button">
				오늘의 트렌드 키워드는?
				</button>
				<div id="trendArea"></div>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar" align = "right">
				<form th:action="@{/login}"   action="/login" method="post" id="loginForm" sec:authorize="isAuthenticated()==false">
					<input type="text" name="id" size="10" placeholder="아이디"><br>
					<input type="password" name="password" size="10" placeholder="비밀번호"><br>
					<input type="submit" value="로그인">
				</form>
				<a th:href="@{/guest/registerForm}" sec:authorize="isAuthenticated()==false" style = "color:white">회원가입</a>
				<a th:href="@{/guest/findIdForm}" sec:authorize="isAuthenticated()==false" style = "color:white">아이디 찾기</a>
				<a th:href="@{/guest/findPasswordForm}" sec:authorize="isAuthenticated()==false" style = "color:white">비밀번호 찾기</a>				
				
				<th:block sec:authorize="isAuthenticated()">
					<span sec:authentication="principal.memberName" style = "color:white"></span>
					<h4 style = "color:white"> 님이 로그인 하셨습니다.</h4><br>
					<a href="#" id="logoutAction" style = "color:white">로그아웃</a><br>
					<form id="logoutForm" th:action="@{/logout}" method="post" style="display: none"></form>
					<a th:href="@{/updateForm}" style = "color:white">회원정보수정</a><br>
					<a th:href="@{/enterCafe}" style = "color:white">카페가기</a><br>
					<a th:href="@{/mypage}" style = "color:white">마이페이지 가기</a><br>
					<a th:href="@{/chattingRoomList}" style = "color:white">대화 목록 <b id="alarm">&#128140;</b></a><br>
					<a th:href="@{/admin/main}" sec:authorize="hasRole('ROLE_ADMIN')" style = "color:white">관리자모드</a><br>	
				</th:block>
			</div>
		</div>
	</nav>	
	<script type="text/javascript">
		$(function() {
			$("#logoutAction").click(function() {
				$("#logoutForm").submit();
			});
			var user = "[[${#authentication.principal}]]";
			if(user!=="anonymousUser"){
				let reception = "[[${session.reception}]]";
				if(reception==0)
					document.getElementById("alarm").style.display="none";
			}//click
			$("div[id=trend]").mouseenter(function(){				
				$.ajax({
					type:"get",
					url:"/guest/trendsearch",
					success:function(data){						
						var str = "<div class='col-6' align='center'><div class='alert alert-warning'><b>가장 많은 인기의 태그 TOP3입니다.</b></div></div>";
						var str2 = "<div class='col-6' align='center'>";
							str2 += "<div class='alert alert-warning'>";
							 str2 += "<b>TOP1 : "+data[0].tag + " " +data[0].tagHits + " / TOP2 : " + data[1].tag + " " +data[1].tagHits +" / TOP3 : "+ data[2].tag +" " + data[2].tagHits +"</b>";
							str2 += "</div></div>";
						var str3 = "<div class='col-6' align='center'><div class='alert alert-warning'><b>가장 최근 인기의 태그 TOP3입니다.</b></div></div>";
						var str4 = "<div class='col-6' align='center'>";
							str4 += "<div class='alert alert-warning'>";
							str4 += "<b>";
							for(let j=0;j<data.length-3;j++){
							str4 += "TOP"+(j+1)+" : " +data[j+3].tag + " " +data[j+3].tagHits + " /";
							}							
							str4 +="</b>";
							str4 += "</div></div>";
						$("#trendArea").append(str);
						$("#trendArea").append(str2);
						$("#trendArea").append(str3);
						$("#trendArea").append(str4);
					}//callback			
				});//ajax
			})//mouseenter
			$("div[id=trend]").mouseout(function(){				
				var reset = document.getElementById("trendArea");
				reset.innerHTML="<div id='trendArea'></div>";
			})//mouseenter
		});//function
	</script>	
</header>
</html>